<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Go Template</title>
   <link rel="stylesheet" href="/static/css/index.css">
   <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
   <div class="container">
      <h1>Todo List</h1>

      <ul>
         <li>list</li>
         <li>list</li>
         <li>list</li>
      </ul>
   </div>
</body>
</html>